@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@1,100&display=swap');
:root {
  --container-padding: calc((100% - 1200px) / 2);
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #212121;
}
ul {
  list-style: none;
  text-decoration: none;
}
.logo-webstudio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.link2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.link:hover,
.link2:hover,
.link:focus,
.link2:focus .link:active {
  color: #2196f3;
  text-decoration: none;
}
.link:active {
  color: #2196f3;
}
*/ .link:active {
  color: #2196f3;
}

.main-title {
  color: #ffffff;
}
.main-button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.buttonsp {
  background-color: #f5f4fa;
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.buttonsp:hover,
.buttonsp:active {
  color: #ffffff;
  background-color: #2196f3;
}
.titles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.a-que-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.nuestro-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.names-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.names-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-webstudio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
  
}
.footer-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.project-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects {
  text-decoration: none;
}
.project-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 var(--container-padding);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
header nav {
  display: flex;
  align-items: center;
  gap: 80px;
}
header nav .header-epc {
  display: flex;
  gap: 50px;
}
header .header-contacts {
  display: flex;
  gap: 80px;
}
.main-section {
  background-color: #2f303a;
  padding: 200px var(--container-padding);
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section {
  padding: 94px 0 0;
}
.benefits {
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: nowrap;
  padding: 94px;
}
.benefits li {
  width: 240px;
}
.section-a-que ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.section-team {
  background-color: #F5F4FA;
}
.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
footer {
  background-color: #2F303A;
  padding: 94px var(--container-padding);
  height: 150px;
  
}
address .footer-contacts {
  display: block;
  padding: 5px 0;
}
address .footer-address:hover {
  color: #ffffff;
}
