@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@1,100&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #212121;
}
ul {
  list-style: none;
  text-decoration: none;
}
.logo-webstudio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding: 200px;
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.link2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.link:hover {
  color: #2196f3;
  text-decoration: none;
}
/* TODO: Hace falta el active, para que quede azul cuando se esta en la pagina 
.link:active {
    color: #2196F3;
} */
.link:active {
  color: #2196f3;
}
.link2:hover {
  color: #2196f3;
  text-decoration: none;
}
.main-title {
  color: #ffffff;
  
}
.main-button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.buttonsp {
  background-color: #f5f4fa;
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.buttonsp:hover,
.buttonsp:active {
  color: #ffffff;
  background-color: #2196f3;
}
.titles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.a-que-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.nuestro-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.names-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.names-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-webstudio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.footer-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.project-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects {
  text-decoration: none;
}
.project-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  left: 0px;
  top: 0px;
}
header nav {
display: flex;
align-items: center;
}
header nav .header-epc{
  display: flex;
  gap: 50px;
}
header nav .header-contacts {
display: flex;
gap: 80px;
}
.main-section {
  background-color: #2F303A;
  padding: 200px;
  text-align: center;
}
.section {
  padding: 94px 0;
}
.benefits {
align-items: flex-start;
justify-content: space-between;
display: flex;
gap: 50px;
 padding-left: 50px;
  padding-right: 50px;
  margin-right: 80px;
  margin-left: 80px;

}
.section-a-que .container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.section-a-que .container ul {
  width: 360px;
  display: flex;
  gap: 20px;
   padding-left: 50px;
  padding-right: 50px;
  margin-right: 80px;
  margin-left: 80px;
}


//* main .container .main-section {
  background-color: #2F303A;
  display: block;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: -4px;
  top: 80px;
}
footer .container  {
  background-color: #2F303A;
  display: flex;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;
}
*/ 
